@model Ogrenci
<div class="alert alert-success">
<h1>@ViewBag.sonuc</h1>
<h1>sayın @Model.ad @Model.soyad kayıt oldunuz</h1>
<small>kayıt detayları @Model.email adresinize gönderildi.
    </small>
    </div>